[user]
    # Configure in ~/.config/local/local.sh

[include]
    path = ~/.config/local/.gitconfig_local

[alias]
    b = branch
    branches = branch -l
    co = checkout
    cm = commit --message
    sw = switch
    ca = "!git add -A && git commit -m "
    cn = commit --no-verify
    f = !git fetch
    s = status
    a = add
    pl = !git pull
    ps = !git push
    pushnew = push -u origin HEAD
    prune-local = "!git fetch -p && git branch -vv | grep ': gone]' | sed 's/^[* ]*//; s/[[:space:]].*$//' | while IFS= read -r branch; do git branch -D -- \"$branch\"; done"

[apply]
    whitespace = fix

[branch]
    autosetupmerge = true

[color]
    ui = true

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
    branch = magenta

[commit]
    template = ~/.dotfiles/git/commit-template

[core]
    excludesfile = ~/.config/.gitignore_global
    ignorecase = false
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[fetch]
    prune = false

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[help]
    autocorrect = 1

[init]
    defaultBranch = main

[push]
    default = current
    autoSetupRemote = true

[pull]
    rebase = true
[status]
    showUntrackedFiles = all
