[user]
    # Imported from ~/.gitconfig_local

[include]
    path = ~/.gitconfig_local

[init]
    defaultBranch = main

[core]
    excludesfile = ~/.gitignore_global
    ignorecase = false

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
    branch = magenta

[alias]
    b = branch
    branches = branch -l
    co = checkout
    sw = switch
    c = commit
    cn = commit --no-verify
    s = status
    a = add
    pushnew = push -u origin HEAD

[branch]
    autosetupmerge = true

[push]
    default = current

[pull]
    rebase = true

[fetch]
    prune = true

[commit]
	template = ~/.dotfiles/git/commit-template
