---
ci:
  skip: [ansible-lint, shellcheck]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
  - id: check-yaml
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: pretty-format-json
    name: Format JSON files
    description: Formats JSON files using `jq`
    args: [--autofix]
    exclude: '^terminal/.*\.json$'
  - id: trailing-whitespace
- repo: https://github.com/ansible/ansible-lint
  rev: v26.1.1
  hooks:
  - id: ansible-lint
    name: Lint Ansible files
    description: Runs ansible-lint to check Ansible playbooks and roles
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.11
  hooks:
  - id: actionlint
    name: Lint GitHub Actions workflow files
    description: Runs actionlint to lint GitHub Actions workflow files
    language: golang
    types: ["yaml"]
    files: ^\.github/workflows/
    entry: actionlint
    minimum_pre_commit_version: 3.0.0
- repo: https://github.com/adrienverge/yamllint
  rev: v1.38.0
  hooks:
  - id: yamllint
    name: Lint YAML files
    description: Runs yamllint to check YAML files
    types: ["yaml"]
- repo: local
  hooks:
  - id: shellcheck
    name: Lint shell scripts
    description: Runs shellcheck to check shell scripts
    entry: shellcheck
    language: system
    types: [shell]
    exclude: '^zsh/\.p10k\.zsh$'
