---
- name: Configure todo.txt
  hosts: localhost
  vars:
    todo_dir: "{{ playbook_dir }}/../../todo"
  tasks:
    - name: Ensure .config directory exists
      ansible.builtin.file:
        dest: "$HOME/.config"
        state: directory
        mode: "0755"

    - name: Symlink .todo config
      ansible.builtin.file:
        src: "{{ todo_dir }}/.todo.cfg"
        dest: ~/.config/.todo.cfg
        state: link
        force: true
