---
- name: Install fonts via Homebrew
  hosts: localhost
  tasks:
    - name: Ensure Homebrew is installed and updated
      community.general.homebrew:
        state: present
        update_homebrew: true

    - name: Install fonts
      community.general.homebrew_cask:
        name: "{{ item }}"
        state: present
      with_items:
        - homebrew/cask-fonts/font-fira-code
        - homebrew/cask-fonts/font-hack-nerd-font
      failed_when: false
