---
- name: Install packages using Homebrew
  hosts: localhost
  vars_files:
    - ../vars/main.yml
  tasks:
    - name: Ensure Homebrew is installed and updated
      community.general.homebrew:
        state: present
        update_homebrew: true

    - name: Install global Homebrew packages
      community.general.homebrew:
        name: "{{ item }}"
        state: present
      with_items: "{{ homebrew_global_packages }}"

    - name: Install machine-specific Homebrew packages
      community.general.homebrew:
        name: "{{ item }}"
        state: present
      with_items: "{{ homebrew_user_packages }}"

    - name: Install Homebrew cask apps
      community.general.homebrew_cask:
        name: "{{ item }}"
        state: present
        install_options: "force"
      with_items: "{{ homebrew_cask_apps }}"
