---
- name: Install Mac App Store apps using Homebrew mas
  hosts: localhost
  vars_files:
    - ../vars/main.yml
  tasks:
    - name: Install mas package
      community.general.homebrew:
        name: mas
        state: present

    - name: List installed apps
      ansible.builtin.command: mas list
      register: mas_list
      changed_when: false

    - name: Install Mac App Store apps
      community.general.mas:
        id: "{{ item }}"
        state: present
      with_items: "{{ homebrew_mas_apps }}"
