---
- name: Install and configure Oh my zsh and plugins
  hosts: localhost
  vars:
    zsh_dir: "{{ playbook_dir }}/../../zsh"
    ohmyzsh_dir: "$HOME/.oh-my-zsh"
    user_home: "$HOME"
  tasks:
    - name: Check for oh-my-zsh installation
      ansible.builtin.stat:
        path: "{{ ohmyzsh_dir }}"
      register: oh_my_zsh_stat

    - name: Install Oh my zsh
      ansible.builtin.shell: sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" # yamllint disable-line rule:line-length
      when: not oh_my_zsh_stat.stat.exists
      changed_when: not oh_my_zsh_stat.stat.exists

    - name: Install zsh-syntax-highlighting plugin
      ansible.builtin.git:
        repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
        dest: "{{ ohmyzsh_dir }}/custom/plugins/zsh-syntax-highlighting"
        update: yes
        version: master

    - name: Install zsh-autosuggestions plugin
      ansible.builtin.git:
        repo: https://github.com/zsh-users/zsh-autosuggestions.git
        dest: "{{ ohmyzsh_dir }}/custom/plugins/zsh-autosuggestions"
        update: yes
        version: master

    - name: Create Oh my zsh themes folder
      ansible.builtin.file:
        path: "{{ ohmyzsh_dir }}/custom/themes"
        state: directory
        mode: "0755"

    - name: Symlink Oh my zsh theme
      ansible.builtin.file:
        src: "{{ zsh_dir }}/christianmitteldorf.zsh-theme"
        dest: "{{ ohmyzsh_dir }}/custom/themes/christianmitteldorf.zsh-theme"
        state: link
        force: true

    - name: Remove default .zshrc after installation
      ansible.builtin.file:
        path: "{{ user_home }}/.zshrc"
        state: absent

    - name: Remove .zshrc.pre-oh-my-zsh
      ansible.builtin.file:
        path: "{{ user_home }}/.zshrc.pre-oh-my-zsh"
        state: absent

    - name: Symlink .zshrc back to home-directory
      ansible.builtin.file:
        src: "{{ zsh_dir }}/.zshrc"
        dest: "{{ user_home }}/.zshrc"
        state: link
        follow: false
        force: true
